<footer>
  <div class="footer-corner"></div>
  <div class="wrap">
    <div class="clearfix">
      <div class="follow"><wb:follow-button uid="2954472480" type="red_2" width="136" height="24" ></wb:follow-button></div>
      <div class="douban">
        <a href="http://site.douban.com/191862/" target="_blank"><img src="assets/images/douban.jpg" alt="推荐到豆瓣" /></a>
      </div>
      <div class="share">
        <%include share%>
      </div>
    </div>
    <div class="copyright">
      <span>2013 版权 | 沪ICP备08000392号-2</span> |
      <a href="#" target="_blank">服务条款</a> |
      <a href="#" target="_blank">常见问题</a> |
      <a href="Mailto:info@congmingzhuyi.com">info@congmingzhuyi.com</a>
    </div>
    <div class="logo2"></div>
  </div>
</footer>