<header>
  <div class="half-background"></div>
  <div class="wrap">
    <div class="fn-left"><span class="text-sc"></span></div>
    <div class="logo-skoda"><a href="#"></a></div>
  </div>
  <nav class="nav-bar">
    <div class="logo-clever"><a href="#"></a></div>
    <div class="nav">
      <ul class="nav-list">
        <li><a href="">达人招聘</a></li>
        <li><a href="">达人榜</a></li>
        <li><a href="">活动详情</a></li>
        <li><a href="">新鲜资讯</a></li>
        <li><a href="">登录</a></li>
      </ul>
    </div>
  </nav>
</header>