<section id="page" class="body-background-index">
  <div class="hd">
    <%include nav%>
  </div>
  <div class="bd">
    <div class="wrap">
      <div class="call-board">
        <a class="btn-3d-becomeTalent" href="#"></a>
        <img src="asserts/images/call-board.png" alt=""/>
      </div>
      <div class="expert">
        <div class="expert-mask" id="expert-link">
          <a href="#"></a>
          <a href="#"></a>
          <a href="#"></a>
          <a href="#"></a>
          <a href="#"></a>
          <a href="#"></a>
        </div>
        <div class="expert-carousel">
          <% for(var i = 0 ;i<6;i++){%>
            <div class="item">
              <ul class="item-carousel">
                <li data-href="#url1"><img src="asserts/images/pic_01.jpg" alt=""/><img src="asserts/images/pic_02.jpg" alt=""/></li>
                <li data-href="#url2"><img src="asserts/images/pic_03.jpg" alt=""/><img src="asserts/images/pic_02.jpg" alt=""/></li>
                <li data-href="#url3"><img src="asserts/images/pic_04.jpg" alt=""/><img src="asserts/images/pic_02.jpg" alt=""/></li>
              </ul>
            </div>
          <%}%>
        </div>
        <div class="expert-carousel-pagination">
          <a href="javascript:void(0)" class="btn-controller-expert selected"></a>
          <a href="javascript:void(0)" class="btn-controller-expert"></a>
          <a href="javascript:void(0)" class="btn-controller-expert"></a>
        </div>
        <a class="btn-3d-guessTalent" href="#"> </a>
      </div>
      <div class="prize">
        <a href="" class="btn-3d-prize"></a>
      </div>
      <div class="call-board2">
        <ul class="call-board2-carousel">
          <li><img src="asserts/images/pic_02.jpg" alt=""/></li>
          <li><img src="asserts/images/pic_02.jpg" alt=""/></li>
          <li><img src="asserts/images/pic_02.jpg" alt=""/></li>
        </ul>
        <div class="call-board2-pagination"></div>
      </div>
      <div class="weibo-show">
        <iframe width="100%" height="163" class="share_self"  frameborder="0" scrolling="no" src="http://widget.weibo.com/weiboshow/index.php?language=&width=0&height=163&fansRow=2&ptype=0&speed=0&skin=1&isTitle=0&noborder=0&isWeibo=1&isFans=0&uid=2492457130&verifier=c9bbde90&dpc=1"></iframe>
      </div>
    </div>
  </div>
</section>