<!DOCTYPE html>
<html xmlns:wb="http://open.weibo.com/wb">
<head>
  <title>Skoda-html</title>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
  <link rel="stylesheet" href="asserts/css/lfportal.css">
  <link rel="stylesheet" href="asserts/css/style.css">z
  <!--[if lt IE 9]><script type="text/javascript" src="asserts/js/lib/html5.js"></script><![endif]-->
  <script type="text/javascript" src="asserts/js/lib/jquery.min.js"></script>

  <script src="http://tjs.sjs.sinajs.cn/open/api/js/wb.js" type="text/javascript" charset="utf-8"></script>
</head>
<body>
<article class="all">
<%include head%>
<%-body%>
<%include foot%>
</article>
<%-script%>
<script type="text/javascript" src="asserts/js/skoda.js"></script>
</body>
</html>