<!DOCTYPE html>
<html>
<head>
  <title>Skoda-html</title>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
  <link rel="stylesheet" href="asserts/css/style.css">
  <!--[if lt IE 9]><script type="text/javascript" src="asserts/js/lib/html5.js"></script><![endif]-->
  <script type="text/javascript" src="asserts/js/lib/jquery.min.js"></script>
</head>
<body>
<article class="all">
<%include head%>
<%-body%>
<%include foot%>
  <script type="text/javascript" src="asserts/js/skoda.js"></script>
</article>
</body>
</html>