
<nav class="nav-bar">
  <div class="logo-clever"><a href="./index.html"></a></div>
  <div class="nav">
    <ul class="nav-list">
      <li><a href="./idea.html"><span class="font-nav-a1" rel="达人招聘"></span></a></li>
      <li><a href=""><span class="font-nav-a2" rel="达人榜"></span></a></li>
      <li><a href=""><span class="font-nav-a3" rel="活动详情"></span></a></li>
      <li><a href=""><span class="font-nav-a4" rel="新鲜资讯"></span></a></li>
      <%if(logined==1){%>
      <li class="usr">
        <div class="logined">
          <div class="usr-pic"><img src="assets/images/pic_01.jpg" alt=""/></div>
          <div class="usr-name">达人曹晓明1234</div>
          <div class="usr-mgs">99</div>
        </div>
        <div class="usr-popup">
          <h2><span class="notice-tit"></span>(99):</h2>
          <div class="text-wrap">
            <ul>
              <%for(var i=0;i<6;i++){%>
              <li><div class="m1">你的主意已经通过审核!</div><div class="time">1小时以前</div></li>
              <li><div class="m1">你的主意已经通过审核!你的主意已经通过审核!</div><div class="time">1小时以前</div></li>
              <%}%>
            </ul>
          </div>
          <div class="btns">
            <a class="btn-myhomepage" href="#"></a>
            <a class="btn-logout" href="#"></a>
          </div>
        </div>
      </li>
      <%}else{%>
      <li><a href=""><span class="font-nav-a5" rel="登录"></span></a></li>
      <%}%>
    </ul>
  </div>
</nav>