<nav class="nav-bar">
  <div class="logo-clever"><a href="#"></a></div>
  <div class="nav">
    <ul class="nav-list">
      <li><a href=""><span class="font-nav-a1" rel="达人招聘"></span></a></li>
      <li><a href=""><span class="font-nav-a2" rel="达人榜"></span></a></li>
      <li><a href=""><span class="font-nav-a3" rel="活动详情"></span></a></li>
      <li><a href=""><span class="font-nav-a4" rel="新鲜资讯"></span></a></li>
      <li><a href=""><span class="font-nav-a5" rel="登录"></span></a></li>
    </ul>
  </div>
</nav>