<article class="all body-background-profile">
  <section id="page">
    <div class="bd">
      <div class="wrap">
        <div class="profile-left">
          <div class="user-info">
            <div class="fn-left">
              <div class="user-pic">
                <img src="assets/images/user_pic_default_01.jpg" alt=""/>
                <div class="updata">
                  <a class="btn-update-avatar" href="javsscript:;"></a>
                </div>
              </div>
              <div class="pt10">
                <a class="btn-3d-becomeTalent3" href="#"></a>
              </div>
            </div>
            <div class="user-intro">
              <p class="name">简永豪的豪</p>
              <p>智猜人气：<span class="color">72</span></p>
              <div class="text-wrap">
                <p>在细节上做到更加人性化会更能让大众接受它，老百姓用的顺心，对它产生好感！在细节上做到更加人性化会更能让大众接受它，老百姓用的顺心，对它产生好感！</p>
              </div>
              <div class="btns">
                <a class="btn-more" href="javascript:;"></a>
                <a class="btn-update-info" href="javascript:;"></a>
              </div>
            </div>
          </div>
          <div class="ranking">
            <a href="#" class="btn-ranking fn-left"></a>
            <p class="fn-left">汽车上空间小,而我们出去自驾游放在车里的小物件又太多了</p>
          </div>
          <div class="notification"></div>
        </div>
        <div class="profile-right">
          <div class="tv">
            <div class="tv-crash"></div>
            <div class="tv-show">
              <div class="men-3d-0<%=_page+1%>"></div>
              <div class="tv-btns">
                <a class="btn-next-topic" href="#"></a>
                <div class="share">
                  <%include share%>
                </div>
              </div>
              <div class="idea">
                <div class="text-wrap">
                  <h1>隐身收纳盒<span>3天前提交</span></h1>
                  <p>汽车上空间小,而我们出去自驾游放在车里的小物件又太多了
                    容易找不到，在门侧边设计一款隐身收纳盒很有用！</p>
                  <h3>灵感来源：</h3>
                  <p>汽车上空间小,而我们放在车里的小物件又太多了，在门侧边
                    设计一款隐身收纳盒很有用！</p>
                  <p>汽车上空间小,而我们放在车里的小物件又太多了，在门侧边
                    设计一款隐身收纳盒很有用！</p>
                </div>
              </div>
              <div class="btns2"><a class="btn-3d-becomeTalent4" href="#"></a></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</article>
<script type="text/javascript" src="assets/js/lib/jquery.bpopup.js"></script>
