<div class="content body-background-profile">
  <section id="page">
    <div class="bd">
      <div class="wrap">
        <div class="profile-left">
          <div class="user-info">
            <div class="fn-left">
              <div class="user-pic">
                <img src="assets/images/user_pic_default_01.jpg" alt=""/>
                <div class="updata">
                  <a class="btn-update-avatar jsPopUploadBox" href="javascript:void(0);"></a>
                </div>
              </div>
              <div class="pt10">
                <a class="btn-3d-becomeTalent3" href="#"></a>
              </div>
            </div>
            <div class="user-intro">
              <p class="name">简永豪的豪</p>
              <p>智猜人气：<span class="color">72</span></p>
              <div class="text-wrap">
                <p>在细节上做到更加人性化会更能让大众接受它，老百姓用的顺心，对它产生好感！在细节上做到更加人性化会更能让大众接受它，老百姓用的顺心，对它产生好感！</p>
              </div>
              <div class="btns">
                <a class="btn-more jsPopIdeaDetail" href="javascript:;"></a>
                <a class="btn-update-info jsPopProfileForm" href="javascript:;"></a>
              </div>
            </div>
          </div>
          <div class="ranking">
            <a href="#" class="btn-ranking fn-left"></a>
            <p class="fn-left">汽车上空间小,而我们出去自驾游放在车里的小物件又太多了</p>
          </div>
          <div class="notification">
            <h2><span class="notice-tit"></span>(99):</h2>
            <div class="text-wrap">
              <ul>
                <%for(var i=0;i<6;i++){%>
                <li><div class="m1">你的主意已经通过审核!</div><div class="time">1小时以前</div></li>
                <li><div class="m1">你的主意已经通过审核!你的主意已经通过审核!</div><div class="time">1小时以前</div></li>
                <%}%>
              </ul>
            </div>
          </div>
        </div>
        <div class="profile-right">
          <div class="tv">
            <div class="tv-crash"></div>
            <div class="tv-show">
              <div class="men-3d-0<%=_page+1%>"></div>
              <div class="tv-btns">
                <a class="btn-next-topic" href="#"></a>
                <div class="share">
                  <%include share%>
                </div>
              </div>
              <div class="idea">
                <div class="text-wrap">
                  <h1>隐身收纳盒<span>3天前提交</span></h1>
                  <p>汽车上空间小,而我们出去自驾游放在车里的小物件又太多了
                    容易找不到，在门侧边设计一款隐身收纳盒很有用！</p>
                  <h3>灵感来源：</h3>
                  <p>汽车上空间小,而我们放在车里的小物件又太多了，在门侧边
                    设计一款隐身收纳盒很有用！</p>
                  <p>汽车上空间小,而我们放在车里的小物件又太多了，在门侧边
                    设计一款隐身收纳盒很有用！</p>
                </div>
              </div>
              <div class="btns2"><a class="btn-3d-becomeTalent4" href="#"></a></div>
            </div>
          </div>
        </div>
      </div>
      <div class="wrap suggestions">
        <div class="suggestions-box">
          <div class="suggestions-box-hd"></div>
          <div class="suggestions-box-bd">
            <form action="">
              <textarea name="" class="text-input"></textarea>
              <div class="submit-bar">
                <div class="fn-left"><span class="color">18</span>条评论</div>
                <div class="fn-right">
                  <a href="#" class="btn-submit"></a>
                </div>
              </div>
            </form>
            <ul class="suggestions-list">
              <%for(var i=0;i<3;i++){%>
              <li>
                <div class="row-fluid">
                  <div class="span1"><img width="40" height="40" src="assets/images/pic_04.jpg" alt=""/></div>
                  <div class="span10"><span class="color">隔壁家的小明:</span>主意真好！主意真好！主意真好！主意真好！主意真好！主意真好！主意真好！主意真好！主意真好！主意真好！</div>
                </div>
                <a href="#" class="delete"></a>
                <a href="#" class="against"></a>
              </li>
              <%}%>
            </ul>
            <p class="text-center pt10"><a href="javascript:void(0);" class="btn-more2"></a></p>
          </div>
          <div class="suggestions-box-ft"></div>
        </div>
        <div class="video-3d-men"><a href="#"></a></div>
      </div>

    </div>
  </section>
</div>
<!--jsPopIdeaDetail-->
<div class="pop-idea-detail">
  <a class="b-close" href="#"><span></span></a>
  <div class="pop-content">
    <div class="text-wrap">
      <h1 class="title"></h1>
      <div class="row-fluid">
        <div class="span3"><img src="assets/images/pic_04.jpg" alt=""/></div>
        <div class="span8">
          <p>我是John Doe，20岁，来自广东广州。</p>
          <p>我的灵感细胞从不受束缚，如果不是脑壳罩着早飚出来了。我一般通过鼻孔感知外界，可以毫无压力辨别23517种气味。我的坐骑是一辆会飞的车。小时候我的江湖绰号叫海豹，因为我总是被罚站，像海报（海豹）一样贴在墙上！
            但是有一点毋庸置疑，那就是我绝顶聪明，不服来辩！</p>
        </div>
      </div>
      <h2 class="title"></h2>
      <p>
        <img src="assets/images/test00001.jpg" alt=""/>
      </p>
    </div>
  </div>
</div>
<!--jsPopProfileForm-->
<div class="pop-profile-form">
  <a class="b-close" href="#"><span></span></a>
  <div class="pop-content">
    <div class="row-fluid">
      <div class="span4">
        <img width="181" height="181" src="assets/images/pic_04.jpg" alt=""/>
        <div class="btns-wrap">
          <a href="javascript:void(0);" class="btn-update-avatar2 jsPopUploadBox"></a>
        </div>

      </div>
      <div class="span8">
        
      </div>
    </div>
  </div>
</div>
<!--jsPopUploadBox-->
<div class="pop-upload-box">
  <a class="b-close" href="#"><span></span></a>
  <div class="pop-content">
    <div class="row-fluid">
      <div class="span8">
        <div class="file-input">...</div>
      </div>
      <div class="span4">
        <a href="javascript:void(0);" class="btn-select-file"></a>
      </div>
    </div>
    <form id="upload" action="src.php">
      <input type="file" class="hide"/>
      <input type="submit" value="" class="btn-submit-upload"/>
    </form>
  </div>
</div>
<script type="text/javascript" src="assets/js/lib/jquery.bpopup.js"></script>
<script type="text/javascript" src="assets/js/lib/jquery.form.min.js"></script>
