<a class="share-btn" href="#"><span class="font-share"></span></a>
<div class="share-bar">
  <a href="#" target="_blank"><span class="icon-tsina"></span></a>
  <a href="#" target="_blank"><span class="icon-kaixin001"></span></a>
  <a href="#" target="_blank"><span class="icon-douban"></span></a>
  <a href="#" target="_blank"><span class="icon-renren"></span></a>
  <a href="#" target="_blank"><span class="icon-tqq"></span></a>
</div>