
<div class="content body-background-cloud">
  <section id="page">
    <div class="wrap" style="position: relative;">
      <div class="activate">
        <h1 style="padding-left: 60px;">你的账户已被禁用， <br> 请联系网站管理员。
        </h1>

        </p>
      </div>
    </div>
  </section>
</div>


