
<div class="content body-background-cloud">
  <section id="page">
    <div class="wrap" style="position: relative;">
      <div class="activate">
        <h1>帐户激活链接已发送至你的 <br>
          注册邮箱，请尽快查询并激活。
        </h1>
        <p>别忘了看看你的垃圾箱喔。你也可以点击<a href="javascript:;" class="resend">再次发送</a>激活链接。
        </p>
      </div>
    </div>
  </section>
</div>

<!--jsPopBox-->
<div class="pop-box">
  <a class="b-close pop-close" href="#"><span></span></a>
  <div class="pop-content">
    <p class="title2">重新获取验证码</p>
    <p class="help-block">如果你尚未收到验证码，请重新获取。</p>
    <form class="form-inline">
      <input type="text" placeholder="输入邮箱地址"/> <button class="btn-send"></button>
    </form>
  </div>
</div>
<script type="text/javascript">
  $('.resend').click(function(){
    $('.pop-box').bPopup();
  });
</script>