<article class="all">
  <section id="page" class="noTop">
    <div class="bd">
      <div class="" style="height: 1200px;">
        <!-- 若有足夠的 JavaScript 和 Flash 外掛程式支援可用，針對 Flash內容，SWFObject 的動態嵌入方法會取代替用的 HTML 內容。 -->
        <div id="flashContent">
          <a href="http://www.adobe.com/go/getflash">
            <img src="http://www.adobe.com/images/shared/download_buttons/get_flash_player.gif" alt="取得 Adobe Flash 播放程式" />
          </a>
          <p>此頁面需要 Flash Player 9.0.124 版或更新版本。</p>
        </div>
      </div>
      <div id="ctp-flash-loading-mask" style="display:none;width:1200px;height: 1200px;margin-left:-600px; position:absolute;top:70px;left:50%;background-color:#333333;filter:alpha(opacity=55);opacity: 0.55;" >
        <image src="./function_all/loading.gif" alt="flash-loading-gif" style="display: block;width:128px;height:128px;text-align:center;margin:0 auto; padding-top: 300px;" />
      </div>
    </div>
  </section>
</article>
<script type="text/javascript" src="assets/js/swfobject.js"></script>
<script type="text/javascript">
  //  <!-- Adobe 建議開發人員使用 SWFObject2 進行 Flash Player 的偵測。 -->
  //  <!-- 如需詳細資訊，請參閱 Google code (http://code.google.com/p/swfobject/) 中的 SWFObject 頁面。 -->
  //  <!-- 亦可從 Adobe Developer Connection 之下的 "偵測 Flash Player 版本，並以 SWFObject 2 內嵌 SWF 檔案" 取得資訊 -->
  //  <!-- 設定所需 Flash Player 版本的最小值，或若不偵測版本的話，可設定為 0 -->
  var swfVersionStr = "10.0.3";
  //  <!-- xiSwfUrlStr 可用來定義快捷安裝程式 SWF。 -->
  var xiSwfUrlStr = "";
  var flashvars = {
    debug: "true",
    language: "cn",
    categoryUrl: "assets/xml/clipart.xml",
    bgImage: "assets/images/bg.jpg",
    url:"assets/swf/draw.swf",
    cloudSwf:"assets/swf/cloud.swf",
    downloadUrl:"../images/bg.jpg"
  };
  var params = {};
  params.quality = "high";
  params.bgcolor = "#ffffff";
  params.play = "true";
  params.loop = "true";
  params.wmode = "Opaque";
  params.scale = "showall";
  params.menu = "true";
  params.devicefont = "false";
  params.salign = "";
  params.allowscriptaccess = "always";
  var attributes = {};
  attributes.id = "draw";
  attributes.name = "draw";
  attributes.align = "middle";
  swfobject.embedSWF(
      "assets/swf/loading.swf", "flashContent",
      "100%", "100%",
      swfVersionStr, xiSwfUrlStr,
      flashvars, params, attributes);
</script>
<script type="text/javascript" charset="utf-8">
  $(function() {
    //--- login function ---//
    window.is_login = function() {
      $.ajax({
        url : './function_all/',
        data : {
          Fun_type : 'Is_login',
        },
        type : 'POST',
        success : function(data) {
          var myObject = JSON.parse(data);

          if (myObject.state == "1") {
            uploadsubmission();
          } else {
            window.open('./function_all/login.html', 'newwindow', 'height=400, width=400, top=0, left=0, toolbar=no, menubar=no, scrollbars=no,resizable=no,location=no, status=no');
          }
        },
        error : function(e) {
          alert(e);
        }
      });
    }

    window.uploadsubmission = function() {
      var data = GetSWF("draw").getUserInfo();
      var myObject = JSON.parse(data);
      data = myObject[0];
      //--- upload loading ---//
      $("#ctp-flash-loading-mask").show();
      //--- ajax to host --- //
      $.ajax({
        url : './function_all/',
        data : {
          Fun_type : 'User_submission',
          Draw_pic:data.pic,
          Draw_name :data.DrawName,
          Draw_desc : data.DrawDesc,
          User_Inspie : data.DrawInspire,
          User_Talent : data.DrawTalent,
          User_name : data.UserName,
          Head_pic : data.UserHead,
          Profile_q1 : data.q1,
          Profile_q2 : data.q2,
          Profile_q3 : data.q3,
          Profile_q4 : data.q4,
          Profile_q5 : data.q5,
        },
        type : 'POST',
        success : function(data) {
          myObject = JSON.parse(data);
          $("#ctp-flash-loading-mask").hide();
          if(myObject.state == "1"){
            location.href = "profile.html";
          }
        },
        error : function(e) {
          //alert(e);
          $("#ctp-flash-loading-mask").hide();
          console.log(e);
        }
      });

    }
  });
  //--- get swf function ---//
  function GetSWF(strName) {
    if (window.document[strName] != null)
      if (window.document[strName].length == null)
        return window.document[strName];
      else
        return window.document[strName][1];
    else if (document[strName].length == null)
      return document[strName];
    else
      return document[strName][1];
  };

</script>