<!DOCTYPE html>
<html xmlns:wb="http://open.weibo.com/wb">
<head>
  <title>Skoda-html</title>
  <meta charset="utf-8">
  <link rel="stylesheet" href="assets/css/lfportal.css">
  <link rel="stylesheet" href="assets/css/style.css">
  <link rel="stylesheet" href="assets/css/jquery.jscrollpane.css"/>
  <!--[if lt IE 9]>
  <script type="text/javascript" src="assets/js/lib/html5.js"></script>
  <![endif]-->
  <script type="text/javascript" src="assets/js/lib/jquery.min.js"></script>
  <script src="http://tjs.sjs.sinajs.cn/open/api/js/wb.js" type="text/javascript" charset="utf-8"></script>
  <%-style%>
  <script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-34374356-3']);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
  </script>
</head>
<body>
<%include head%>
<%-body%>
<%include foot%>
<%-script%>
<script type="text/javascript" src="assets/js/lib/dropdown.min.js"></script>
<script type="text/javascript" src="assets/js/lib/jquery.mousewheel.min.js"></script>
<script type="text/javascript" src="assets/js/lib/jquery.jscrollpane.js"></script>
<script type="text/javascript" src="assets/js/lib/jquery.bpopup.js"></script>
<script type="text/javascript" src="assets/js/skoda.js"></script>

</body>
</html>