<div class="content body-background-cloud">
  <section id="page">
    <div class="wrap" style="position: relative;">
      <div class="pass_reset">
        <h1>密码重置 </h1>
        <p>是的，我想要重新<a href="" class="resend">设置密码</a>。
        </p>
        <a href="./index.html" class="btn-backhome"></a>
      </div>
    </div>
  </section>
</div>